ol.chapters {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol.chapters li {
  counter-increment: my-awesome-counter;
}


ol.chapters li::after {
  content: "—";
}


ol.chapters li::before {
  content: counter(my-awesome-counter);
}

ol.chapter-3 li::before,
ol.chapters li::before {
  display: inline-block;
  min-width: 45px;
}

ol.chapter-3 {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol.chapter-3 li {
  counter-increment: my-awesome-counter;
}

ol.chapter-3 li::before {
  content: "3." counter(my-awesome-counter) " ";
}
