body {
  background: #ddd;
  color: #222;
  font-family: "Inter", sans-serif;
}

ol, ul, li, p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 400;
  color: #fff;
  background: #333333;
  padding: 0.6rem 0.9rem;
  border-radius: 3px;
  display: inline-block;
}

section.wrap{
  max-width: 500px;
  margin: auto;
  padding: 2rem 2rem 3rem 2rem;
}


.h1 {
  font-size: 2rem;
  font-weight: 550;
  line-height: 2.32rem;
  letter-spacing: -0.04rem;
  }

.h2, .h3 {
  font-size: 1rem;
  line-height: 1.35rem;
  font-weight: 550;
  display: block;
}

.copy {
  font-size: 1rem;
  line-height: 1.35rem;
  font-weight: 400;
  display: block;
}

.intro {
  font-weight: 550;
}


.h1 + .intro{
  margin-top: 3rem;
}


.intro + .h3{
  margin-top: 3rem;
}

.h3 + .chapter{
  margin-top: 1rem;
}

.chapter + .h2{
  margin-top: 3rem;
}

.chapter + .h3{
  margin-top: 2rem;
}

.h3 + .h2{
  margin-top: 1.5rem;
}

.h2 + .cta{
  margin-top: 1.5rem;
}
