@font-face {
  font-family: 'tiempos-text-bold-italic';
  src: url('../tiempos/test-tiempos-text-bold-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-bold';
  src: url('../tiempos/test-tiempos-text-bold.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-medium-italic';
  src: url('../tiempos/test-tiempos-text-medium-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-medium';
  src: url('../tiempos/test-tiempos-text-medium.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-regular-italic';
  src: url('../tiempos/test-tiempos-text-regular-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-regular';
  src: url('../tiempos/test-tiempos-text-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-semibold-italic';
  src: url('../tiempos/test-tiempos-text-semibold-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-semibold';
  src: url('../tiempos/test-tiempos-text-semibold.woff2') format('woff2')
}