.h1 {
  /*font-family: Arial, 'Playfair Display', serif;*/
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.65rem;
  }

.h2, .h3 {
  font-size: 1rem;
  line-height: 1.35rem;
  font-weight: 550;
}

.copy {
  font-size: 1rem;
  line-height: 1.45rem;
  font-weight: 400;
}

.label{
  display: block;
  font-weight: 800;
  font-variant-caps: small-caps;
  letter-spacing: 0.2rem;
  margin: 0 auto 0.5rem auto;
  text-align: center;
}

.red{
  color: #FF7B4E;
}

.faint{
  opacity: 0.8;
}

.intro {
  font-weight: 550;
  max-width: 375px;
  margin: auto;
}

.intro,
.chapter{
  max-width: 375px;
  margin: auto;
}

.center{
  text-align: center;
}

.item{
  list-style: none;
  font-style: italic;
}

.item:before,
.item:after{
  content: " — ";
  color: #FF7B4E;
}

::selection {
  color: #FF7B4E;
  background: white;
}


@media (max-width: 600px){
  .h1 {
    font-size: 2.35rem;
    line-height: 2.5rem;
    }

  .intro,
  .chapter{
    max-width: 300px;
    margin: auto;
  }
  }




@font-face {
  font-family: 'tiempos-text-bold-italic';
  src: url('../tiempos/test-tiempos-text-bold-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-bold';
  src: url('../tiempos/test-tiempos-text-bold.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-medium-italic';
  src: url('../tiempos/test-tiempos-text-medium-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-medium';
  src: url('../tiempos/test-tiempos-text-medium.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-regular-italic';
  src: url('../tiempos/test-tiempos-text-regular-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-regular';
  src: url('../tiempos/test-tiempos-text-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-semibold-italic';
  src: url('../tiempos/test-tiempos-text-semibold-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-semibold';
  src: url('../tiempos/test-tiempos-text-semibold.woff2') format('woff2')
}




.h1 {
  /*font-family: 'tiempos-text-bold-italic';*/
  /*font-family: 'tiempos-text-bold';*/
  /*font-family: 'tiempos-text-medium-italic';*/
  font-family: 'tiempos-text-medium';
  /*font-family: 'tiempos-text-regular-italic';*/
  font-family: 'tiempos-text-regular';
  /*font-family: 'tiempos-text-semibold-italic', sans-serif;*/
  font-family: 'tiempos-text-semibold';
}