.h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.6rem;
  }

.h2, .h3 {
  font-size: 1rem;
  line-height: 1.35rem;
  font-weight: 550;
}

.copy {
  font-size: 1rem;
  line-height: 1.45rem;
  font-weight: 400;
}

.label{
  display: block;
  font-weight: 800;
  font-variant-caps: small-caps;
  letter-spacing: 0.2rem;
  margin: 0 auto 0.5rem auto;
  text-align: center;
}

.red{
  color: #FF7B4E;
}

.faint{
  opacity: 0.8;
}

.intro {
  font-weight: 550;
  max-width: 375px;
  margin: auto;
}

.h3,
.chapter{
  max-width: 375px;
  margin: auto;
}

.center{
  text-align: center;
}

.item{
  list-style: none;
  font-style: italic;
}

.item:before,
.item:after{
  content: " — ";
  color: #FF7B4E;
}
