.h1 {
  font-size:      2.5rem;
  line-height:    2.65rem;
  }

.h2, .h3 {
  font-size:      1rem;
  line-height:    1.35rem;
}

.copy {
  font-size:      1rem;
  line-height:    1.45rem;
}

.label-section{
  display:        block;
  letter-spacing: 0.2rem;
  margin:         0 auto 0.5rem auto;
  text-align:     center;
}


.red{
  color:          #FF7B4E;
}
.faint{
  opacity:        0.8;
}

.center{
  text-align:     center;
}
.item{
  list-style:     none;
}
.item:before,
.item:after{
  content:        " — ";
  color:          #FF7B4E;
}

::selection {
  color:          #FF7B4E;
  background:     rgba(255,255,255,0.8);
}


@media (max-width: 600px){
  .h1 {
    font-size:    2.35rem;
    line-height:  2.5rem;
    }

  .intro,
  .chapter{
    max-width:    300px;
    margin:       auto;
  }
  }



/* Text */

@font-face {
  font-family: 'tiempos-text-regular-italic';
  src: url('../tiempos/tiempos-text-regular-italic.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-regular';
  src: url('../tiempos/tiempos-text-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-text-semibold';
  src: url('../tiempos/tiempos-text-semibold.woff2') format('woff2')
}

/* Headline */
/*
@font-face {
  font-family: 'tiempos-headline-regular';
  src: url('../tiempos/tiempos-headline-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'tiempos-headline-light-italic';
  src: url('../tiempos/tiempos-headline-light-italic.woff2') format('woff2')
}*/



.h1, .h2, .h3 {
  /*font-family: 'tiempos-headline-regular', sans-serif;*/
  font-family: 'tiempos-text-semibold', sans-serif;
}

.copy {
  font-family: 'tiempos-text-regular', sans-serif;
}

.item{
  font-family: 'tiempos-text-regular-italic', sans-serif;
}

.cta {
  font-family: 'tiempos-text-semibold', sans-serif;
}

.label-section{
  font-family: 'tiempos-text-semibold', sans-serif;
  font-variant-caps: all-small-caps;
}


/* Unused currently */

.ampersand{
}

.h1-italic {
}
